# Credentials - NEVER push these
gcp-credentials.json
SECRETS.txt

# dbt
dbt/banking_dbt/target/
dbt/banking_dbt/logs/
dbt/banking_dbt/.user.yml

# Python
__pycache__/
*.pyc
*.pyo
.env

# Docker
*.log

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini